
/* NAV css*/

nav {
	text-align: center;
}
nav{
	background-color: hotpink;
	margin-bottom: 2em;
}
nav ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
nav ul li {
  display: inline;
}
  
nav ul li a {
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 1em 2em;
}
nav ul li a:hover {
  background-color: pink;
}

/* Body CSSS */
body {


text-align: center;
}

.resume-body {
  background-image: url(../images/resume-background.jpeg);
	background-size: contain;
  background-position: center;
}
.cat-body {
	background-image: url(../images/cat-background.jpeg);
	background-size: contain;
  background-position: center;
}
.birthday-body {
	background-image: url(../images/bday-background.jpeg);
	background-size: contain;
  background-position: center;
}

